.team-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.display-table-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.display-table-option {
    margin-top: 15px;
    background-color: #1ba727cc;
    padding: 10px 40px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
}

.display-table-option:hover {
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.display-table-option.active {
    background-color: #0d745a33;
    border: 1px solid #0d745a;
    color: white;
    cursor: pointer;
}

.team-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.team-logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.team-name {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
}

.admin-add-team-button {
    padding: 20px;
}
