.player-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh; 
}

.player-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.player-picture {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 50%;
    border: 3px solid #ccc;
}

.player-name {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
}

.player-details {
    padding-left: 15px;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
}

.player-details span {
    padding: 5px 10px; 
}

.add-opinion-btn {
    margin-top: 20px;
    padding: 10px 20px;
    width: 10%;
    background-color: #225500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-opinion-btn:hover {
    background-color: #338000;
}
